{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tu Abogado Bancario</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">
  <!-- Animaciones -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Vendor: Animaciones + Bootstrap -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Iconos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/lawyers.css' %}" rel="stylesheet">

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo mr-auto">
        <img src="{% static 'assets/img/logo.png' %}" alt="Inicio">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto active" href="#about">Tu abogado</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <!-- ======= About  ======= -->
  <section id="about" data-aos="fade-right" data-aos-duration="1750">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Sobre Mí</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Experto en Derecho Bancario desde 1998</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="{% static 'assets/img/abog2.jpg' %}" alt="About">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">Cristobal Agustin Gutierrez
          </h2>
          <p class="about-text">
            El <strong>derecho bancario es indispensable </strong>para actuar de manera adecuada en este sector. Además,
            se trata de un
            derecho en constante actualización, adaptándose rápidamente a las nuevas circunstancias. Es especialmente
            relevante de cara a evitar abusos de poder, escasez de información y poca transparencia por parte de las
            entidades bancarias.
          </p>
          <p class="about-text">
            También para la correcta declaración de impuestos o evitar el blanqueo de dinero relacionado con actividades
            ilícitas. Es imprescindible en infinidad de casos. Vigila, en general, las correctas prácticas bancarias y
            sirve también como guía jurídica.
          </p>
          <p class="about-text">
            Por todo esto, es muy importante que nuestro abogado sepa interpretar las reglas de actuación. Y, sobre
            todo, que tenga un amplio conocimiento sobre el asesoramiento concreto que se necesita. Como hemos
            mencionado, no existe una legislación específica de derecho bancario y financiero por ello en el mundo
            bancario se necesita que la persona que asesore en este camino sea un abogado especialista en deudas
            bancarias y en bancos en general. Se necesita un conocimiento profundo del campo para dar un correcto
            asesoramiento a nuestros clientes y que el funcionamiento del contexto bancario y financiero pueda
            desarrollarse con normalidad y sin sorpresas. Los abogados bancarios son muy importantes para esta empresa.
          </p>
          <p class="about-text">
            La relación abogado-cliente debe estar basada en la confianza mutua, y por ello doy al cliente un trato
            cercano y personal, basado en el respeto, la honestidad y la defensa fiel de sus intereses.
          </p>
          <p class="about-text">
            <strong> Cristobal Agustín Gutierrez </strong></p>
          <p class="about-text">
            <strong> 633 908 735 </strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Info ======= -->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title"> Abogado Bancario con Años de Experiencia</h3>
          <p class="subscribe-text">Algunos de los problemas más sonados vienen de las denominadas cláusulas abusivas
            como, por ejemplo, las cláusulas suelo. Hemos visto en los últimos años los grandes problemas que se han
            podido crear ante otro instrumento financiero como pueden ser las participaciones preferentes. O las
            tarjetas revolving, tarjetas de crédito con unos intereses abusivos que son invalidados en España una ley de
            principios del siglo pasado. </p>
          <p class="subscribe-text"> Vemos entonces que es tan importante en derecho bancario actualizarse y
            modernizarse al mismo tiempo que el sector y la legislación lo hace, como no olvidarse de normas muy
            antiguas que continúan con plena vigencia.
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Info Secondary ======= -->
  <section class="info2">
    <div class="m-0 row justify-content-center">
      <div class="col-auto text-center">
        <h3 class="subscribe-title"> <strong>Abogado Bancario experimentado </strong> </h3>
        <p class="subscribe-text">Ofrecemos a nuestros clientes cobertura en todos los aspectos legales y regulatorios
          del sector, inmerso actualmente en una profunda reestructuración. Les garantizamos una completa visión que
          abarca cuestiones fiscales, laborales, administrativas, de normativa de competencia, etc. </p>
      </div>
    </div>
    <div class="text-center"><button type="submit" class=" btn-contact">CONTACTAR</button></div>
  </section>

  <!-- ======= Progress Bars ======= -->
  <section id="subscribe" style="margin-top: 5%;">
    <div class="containerProgress2">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title"> Abogado Especialista en Derecho Bancario</h3>
            <div id="progress"></div>
            <p class="subscribe-text">Cristobal Agustin Gutierrez</p>
            <label class="lbl" for="progress">FINANCIACIÓN CORPORATIVA Y DE ADQUISICIONES</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 99%;" aria-valuenow="99"
                aria-valuemin="0" aria-valuemax="100">99%</div>
            </div>
            <label class="lbl" for="progress">FINANCIACIÓN DE PROYECTOS</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 95%;" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <label class="lbl" for="progress">PRODUCTOS BANCARIOS</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <label class="lbl" for="progress">REGULATORIO</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 75%;" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- ======= Footer ======= -->
  <section id="footer" style="padding-top: 60px; background-color: rgba(0, 0, 0, 0.85); margin-top: 5%;">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Ayuda</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Preguntas y Respuestas</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Gremio</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Abogados Dos Santos</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Abogados Martinez</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>LI Santuario</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Abogados Pollo</a></li>
            <li><a href="javascript:void()"><i class="fas fa-angle-double-right"></i>Nosotyros</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
        </hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6" style="color: white;">&copy All right Reversed Fernando Parra</p>
        </div>
        </hr>
      </div>
    </div>
  </section>


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>

  <!-- Animaciones  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


  <!-- Inicializamos Animaciones-->
  <script>
    AOS.init();
  </script>
</body>

</html>