{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tu Abogado Familiar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">
  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
    rel="stylesheet">
  <!-- Animaciones -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- Vendor: Animaciones + Bootstrap -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Iconos -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/lawyers.css' %}" rel="stylesheet">

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="/" class="logo mr-auto">
        <img src="{% static 'assets/img/logo.png' %}" alt="Inicio">
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li><a class="nav-link scrollto active" href="#about">Tu abogado</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <!-- ======= About  ======= -->
  <section id="about" data-aos="fade-right" data-aos-duration="1750">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Sobre Mí</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Experto en Derecho Familiar desde 2000</p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="{% static 'assets/img/abog1.jpg' %}" alt="About">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">Fernando Parra Rodriguez
          </h2>
          <p class="about-text">
            Aunque comencé abarcando todo el derecho civil, con el tiempo tanto mi vocación como mi clientela me han
            permitido centrarme en la especialidad del derecho de familia.
          </p>
          <p class="about-text">
            Me apasiona mi profesión y sigo implicandome y <strong> poniendo el máximo esfuerzo en todos y cada uno de
              mis casos, así como ampliando y perfeccionando continuamente mi formación. </strong>
          </p>
          <p class="about-text">
            La relación abogado-cliente debe estar basada en la confianza mutua, y por ello doy al cliente un trato
            cercano y personal, basado en el respeto, la honestidad y la defensa fiel de sus intereses.
          </p>
          <p class="about-text">
            <strong> Fernando Parra Rodriguez </strong></p>
          <p class="about-text">
            <strong> 633 908 735 </strong></p>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Info ======= -->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title"> Abogado Familiar con Años de Experiencia</h3>
          <p class="subscribe-text">Encuentra un abogado de familia con el que puedas trabajar. Tu abogado será tu socio
            durante todo el proceso. Es posible que debas confiar información sensible a tu abogado, cosas que
            preferirías no decirle a nadie. Hablarás con tu abogado frecuentemente y deberás poder brindar información y
            comprender las explicaciones sobre ciertos pasos o cómo se aplica la ley en tu situación.</p>
          <p class="subscribe-text"> En consecuencia, debes elegir un abogado de familia en quien confíes y con el que
            puedas comunicarte abiertamente.
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Info Secondary ======= -->
  <section class="info2">
    <div class="m-0 row justify-content-center">
      <div class="col-auto text-center">
        <h3 class="subscribe-title"> <strong>Abogado de Familia experimentado </strong> </h3>
        <p class="subscribe-text">Hay situaciones en la vida en las que no es aconsejable ponerse en manos de un abogado
          sin experiencia: los casos de derecho de familia son muy importantes en la dinámica de las personas y las
          consecuencias de un asesoramiento incompleto pueden ser muy negativas. El consejo que se suele dar en estos
          casos es no tentar al destino ni escatimar en gastos, ya que lo que está en juego es muy importante: tu
          situación sentimental y hereditaria, o incluso la custodia de tus hijos. Las malas decisiones pueden resultar
          mucho más caras que un buen abogado de familia o abogado matrimonialista. </p>
      </div>
    </div>
    <div class="text-center"><button type="submit" class=" btn-contact">CONTACTAR</button></div>
  </section>

  <!-- ======= Progress Bars ======= -->
  <section id="subscribe" style="margin-top: 5%;">
    <div class="containerProgress2">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title"> Abogado Especialista en Derecho de Familia</h3>
            <div id="progress"></div>
            <p class="subscribe-text">Fernando Parra Rodriguez</p>
            <label class="lbl" for="progress">DIVORCIOS CONTENCIOSOS, DE MUTUO ACUERDO, DIVORCIOS EXPRESS</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 99%;" aria-valuenow="99"
                aria-valuemin="0" aria-valuemax="100">99%</div>
            </div>
            <label class="lbl" for="progress">SEPARACIONES MATRIMONIALES, GUARDA Y CUSTODIA DE MENORES</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 95%;" aria-valuenow="95"
                aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
            <label class="lbl" for="progress">LIQUIDACIÓN DEL RÉGIMEN ECONÓMICO MATRIMONIAL</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 90%;" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
            <label class="lbl" for="progress">FIJACIÓN Y MODIFICACIÓN DE PENSIÓN ALIMENTICIA</label>
            <div class="progress">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 100%;" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <!-- ======= Footer ======= -->
  <section id="footer" style="padding-top: 60px; background-color: rgba(0, 0, 0, 0.85); margin-top: 5%;">
    <div class="container">
      <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Ayuda</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Preguntas y Respuestas</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Home</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>About</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>FAQ</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Get Started</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Videos</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <h5>Gremio</h5>
          <ul class="list-unstyled quick-links">
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Abogados Dos Santos</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Abogados Martinez</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>LI Santuario</a></li>
            <li><a href="javascript:void();"><i class="fas fa-angle-double-right"></i>Abogados Pollo</a></li>
            <li><a href="javascript:void()"><i class="fas fa-angle-double-right"></i>Nosotyros</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-google-plus"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
          </ul>
        </div>
        </hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
          <p class="h6" style="color: white;">&copy All right Reversed Fernando Parra</p>
        </div>
        </hr>
      </div>
    </div>
  </section>


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>


  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>

  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>

  <!-- Animaciones  -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>


  <!-- Inicializamos Animaciones-->
  <script>
    AOS.init();
  </script>
</body>

</html>